<?xml version="1.0" encoding="UTF-8"?>

<!-- Reference Manual http://logback.qos.ch/manual/index.html -->

<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
    <property resource="logback.properties"/>

    <!-- 生产环境. -->
    <springProfile name="pro">
        <logger name="org.springframework.web" level="WARN"/>
        <logger name="org.springframework.boot.web" level="WARN"/>
        <logger name="com.anbang.universe.sun" level="INFO"/>
        <logger name="com.ab.us" level="INFO"/>
    </springProfile>

    <!-- UAT、开发环境日志输出级别. -->
    <springProfile name="dat,uat,dev">
        <logger name="org.springframework.web" level="WARN"/>
        <logger name="org.springframework.boot.web" level="WARN"/>
        <logger name="com.anbang.universe.sun" level="DEBUG"/>
        <logger name="com.ab.us" level="DEBUG"/>
    </springProfile>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 可以指定字符集，对于中文输出有意义 -->
        <encoder charset="UTF-8" class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${log.path}/${app.name}/${app.name}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!--日志文件最大大小 -->
            <maxFileSize>500MB</maxFileSize>
            <!--日志文件保留天数 -->
            <MaxHistory>15</MaxHistory>
            <!--日志文件总大小尺寸 -->
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>

        <!-- 下面这段注释的代码可以在日志文件超过 5MB 时进行归档，并且归档文件后缀只要是 .zip 或 .gz 就会自动压缩日志归档 -->
        <!--file>d:/log/Unmi.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>d:/log/Unmi.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy-->

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-25thread] %-5level [%-50logger{50}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 输出到控制台和文件，可定义更多的 Appender -->
    <root level="${log.level}">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE"/>
    </root>

    <!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache.http.wire" level="WARN"/>
    <logger name="org.apache.activemq.transport.AbstractInactivityMonitor" level="WARN"/>

</configuration>
